 .headimage img {
  height: 100%;
  border-radius: 50%;
}

 .headimage {
  height: 50px;
  padding: 10px;

}
.navbar {
  margin-bottom: 0px;
  background: #333;
  border: #222;
  border-radius: 0%;
}
#a1{  height: 100%;
  border-radius: 50%;}
#myCarousel{
  width: 80%;
  margin: 0 auto;
}
#grid{
 display: grid;
 grid-template-columns: 1.5fr 7fr 1.5fr;
}
#content{
  height: 180rem;
  
  grid-gap:2rem;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.item{
  width: 100%;
}
.jieshao_cont{
  padding-top:2rem;
  border-top:solid #222 0.15rem;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-gap: 3rem;
  
}

.news_cont{
  padding-top:2rem;
  border-top:solid #222 0.15rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 1rem;
  
}
.news_word ul li{
  margin-bottom: 1.5rem;
  list-style: none;
}
.news_word ul li a{
text-decoration: none;
}
.news_word ul li span{
 float: right;
}
.share_cont{
  padding-top:2rem;
  border-top:solid #222 0.15rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  
}
.share_item1{
  grid-column: 0/1;
}

.arrange_cont{
  padding-top:2rem;
  border-top:solid #222 0.15rem;
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 2fr;

}

.arrange_word ul li{
  margin-bottom: 1.5rem;
  list-style: none;
}
.arrange_word ul li a{
text-decoration: none;
}
.arrange_word ul li span{
  float: right;
 }
 .arrange_gridimg{
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 1fr 1fr 1fr;
 }
 .arrange_button img{
   width: 30%;
   
 }

/*底部*/
.jumbotron-contact {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0;
  margin-bottom: 0;
  border-top: solid #222 0.1rem;
}
.jumbotron-contact .advice strong {
  font-size: 2em;
  font-family: Montserrat;
  font-weight: 100;
}
.jumbotron-contact .advice input {
  outline: none;
  padding: 10px 10px;
  border-radius: 3px;
  border: 1px solid rgba(200, 200,200, 1);
  width: 20em;
  margin-top: 20px;
}
.jumbotron-contact .advice input:focus {
  box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.7);

}

.jumbotron-contact .advice a {
  font-family: Montserrat;
  font-weight: 100;
  padding: 11px 10px;
  border-radius: 3px;
  color: rgba(255, 255, 255,1);
  background-color: rgba(0, 0, 0, 1);
}

.jumbotron-contact .advice a:hover{
  text-decoration: none;
  padding: 12px 10px;
  border-radius: 3px;
  color: rgba(0, 0, 0,1);
  background-color: rgba(200, 200, 200, 1);
}

.jumbotron-contact .follow strong{
  font-size: 2em;
  font-family: Montserrat;
  font-weight: 100;
  padding: 0 15px;
}

.jumbotron-contact .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}


.headtofade {
    transition:background-image 1.0s ease-out;
    background-image:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,1));
}

.clearFloat::after,
.clearFloat::before
 {
   content: "";
   display: block;
   clear: both;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

